body::before {
    content: "";
    display: block;
    width: 220px;
    height: 80px;
    margin: 20px auto 10px auto;
    background-image: url("/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}